.title {
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
}
.btn {
    margin : 1rem auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background : skyblue;
    color : white;
    border:lightgray;
    width : 4rem;
    height : 2rem;
    border-radius: 4px;

}
.btn:hover, .btn:focus {
    cursor: pointer;
    color : #f0f0f0;
    background : #a8b9bd;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}